:root {
    --bg-color: #FED69F url('http://www.brainjar.com/dhtml/ouija/graphics/board.jpg') no-repeat;
    --bg-body: black;
    --ft-color: white;

    /* linear-gradient(150deg,rgb(214, 240, 68), rgb(47, 147, 218) */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--bg-color)
    background-size:cover;
}

    .a {
      width: 20%;
      height: 200px;
      position: absolute;
    }
    #curser{
    position:absolute;
      
    }
    
    h1{
      color: white;
    }